*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(mountain.png);
}

.container{
    border-radius: 20px;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(244, 244, 244, 0.8);*/

    border: 4px solid rgba(37, 36, 36, 0.992);

    display: flex;
    justify-content: space-between;
}

.container::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
    z-index: -1; /* Place the pseudo-element behind the container content */
}

.login h2,
.register h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login{
    margin: 2rem 0 0 5rem;
}

input:focus:invalid{
    border: 1px solid red;
}

input:focus:valid{
    border: 1px solid green;
}

.register{
    margin: 2rem 5rem 0 0;
}

#username, #password, #name, #new_username, #new_password, #email, #verify{
    
    border: none;
    border-bottom: 1px solid black;
    width: 13rem;
    height: 1.5rem;
    margin-bottom: 1rem;
}

button{
    width: 100%;
    height: 2rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.bold{
    color: white;
}