*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(187, 122, 51);
}

.container{
    border-radius: 20px;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 40px rgba(0, 0, 0, 0.4),
    inset 0 0 5px rgba(255, 255, 255, 0.4),
    inset 0 5px 10px rgba(255, 255, 255, 0.3),
    inset 0 10px 20px rgba(255, 255, 255, 0.2);
}

.login{
    margin: 2rem 0 0 2rem;
}