@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Background Image of the Project */
body{
    background-image: url(mountain.png);
}


/* Styling of the container (Making it glasslike, borders, etc) */
.container{
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 0px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(2.7px );
    -webkit-backdrop-filter: blur( 2.7px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 1);

    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
}


/* Styling of the login and register */
.login h2,
.register h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login{
    margin: 2rem 0 0 5rem;
}

.register{
    margin: 2rem 5rem 0 0;
}


/* Styling of each input */
#username, #password, #name, #new_username, #new_password, #email, #verify{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 2px;
    width: 13rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    background: rgba(255, 253, 253, 0.08);
    color: black;
}

 #username:focus, #password:focus, #name:focus, #new_username:focus, #new_password:focus, #email:focus, #verify:focus{ 
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}


/* Styling of the buttons */
button{
    width: 100%;
    height: 2rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.bold{
    color: rgb(36, 36, 36);
}

.remember_text{
    margin-bottom: 1.5rem;
}

.login_user label,
.login_pass label,
.reg_name label,
.reg_username label,
.reg_email label,
.reg_pass label,
.reg_verify label{
    text-align: center;
}
